<h1>Create page</h1>
<form action="insert" method="post">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="description" placeholder="description">
  <input type="text" name="price" placeholder="price">
  <button type="submit" name="submit">insert</button>
</form>
