<h1>Delete page</h1>
{{#each product}}
<li>
      Nombre: {{name}} Description: {{description}} $ {{price}} ID: {{id}}
</li>
{{/each}}
<form action="delete" method="post">
  <input type="text" name="id" placeholder="number id">
  <button type="submit" name="submit">delete</button>
</form>
