<h1>This is the project homepage</h1>

<ul>
    {{#each products}}
    <li>
        Nombre: {{name}} <a href="/{{id}}/update">Detail</a> <a href="/{{id}}/delete">Delete</a>
    </li>
    {{/each}}
</ul>

<a href="/insert">Insert new</a>
